@{
    ViewData["Title"] = "Acerca de";
}
    <div style="background-color:yellow">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>

        <p>Párrafo 1</p>
        <partial name="vistaparcial" />
    </div>